{% extends "base.html" %}

{% block title%}ZBC Admin - Register Person{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/registration.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
        <div style="display: flex">
            <div class="div-half-screen">
                <div class="table-div" id="table-accounts">
                    <table class="reg-table">
                        <tr>
                            <th>Account Number</th>
                            <th>Balance</th>
                            <th>Active</th>
                            <th>Owner</th>
                            <th>CPR Number</th>
                            <th>Actions</th>
                        </tr>
                        {% for account in accounts %}
                        <tr>
                            <td style="width: 80px">
                                 {{ account.account_number }}
                            </td>
                            <td>
                                {{ account.balance }}
                            </td>
                            <td>
                                {{ account.active }}
                            </td>
                            <td>
                                {{ account.owner_fname }} {{ account.owner_lname }}
                            </td>
                            <td>
                                {{ account.person_cpr }}
                            </td>
                            <td>
                                <button class="button-table" onclick="tableRowClick('{{ account.account_number }}')">View</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <button class="button-page">Add Account</button>
            </div>
            <div class="div-half-screen">

            </div>
            
        </div>		
        
   
    

    <script type="text/javascript" src="{{ url_for('static',filename='style/accountPage.js') }}"></script>
{% endblock %}