<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/base.css') }}" type="text/css" media="screen" />

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='style/favIcon/favIcon.ico')}}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <div id="logo">
            <img src="{{ url_for('static',filename='style/Images/zbc_parking.png') }}">
        </div>
        <nav id="navBar">
            <ul>
                <li class="nav-item">
                    <a href="/">Parking lot</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a href="#">Admin</a>
                    
                    <ul class="submenu">
                        <li class="nav-item">
                            <a href="#">Regiser person</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Register account</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Register parkbizz</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </header>

    <div id="contentWrapper">
        {% block content %}

        {% endblock %}
    </div>
    
</body>
</html>