<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>zbc parking</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ url_for('static',filename='style/main.css') }}" type="text/css" media="screen" />
</head>

<body>
	<div class="container">

		<div id="staff">
			<h2 class="map-header">staff</h2>
			<div class="map" id="staff">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<div id="students">
			<h2 class="map-header">students</h2>
			<div class="map">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<div id="guests">
			<h2 class="map-header">guests</h2>
			<div class="map">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
</body>

</html>
