<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>zbc parking</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ url_for('static',filename='style/main.css') }}" type="text/css" media="screen" />
</head>

<body>
	<script type="text/javascript" src="{{ url_for('static',filename='style/tables.js') }}">
		// var spots = '{{ spots }}';
		// updateTable(spots);
	</script>


	<div id="mydiv" data-geocode='{{ spots }}'>...</div>

	<div class="container">
		<div id="map">
			<h1>{{spots}}</h1>
		</div>

		<div id="students">
			<h2 class="map-header">students</h2>
			<div class="map">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<div id="guests">
			<h2 class="map-header">guests</h2>
			<div class="map">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		{% for spot in spots %}
		<h1>{{ spot.type }}</h1>
		{% endfor %}
		<div id="free-guest">
			<h1>free-guest</h1>
		</div>
	</div>




</body>

</html>
