{% extends "base.html" %}

{% block title%}ZBC - Parking lot{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='style/parking.css') }}" type="text/css" media="screen" />
<script type="text/javascript">
	var spots = '{{ spots | tojson }}';
</script>
{% endblock %}

{% block content %}
<div id="ParkingPageContainer">
	<div id="parkingLot">
		<div id="staff-parking-div" class="parking-group-div">
			<label class="parking-text-label">Employees</label>
			<div class="table-div">
				<table class="parking-table" id="parking-staff">

				</table>
			</div>
		</div>

		<div id="students-parking-div" class="parking-group-div">
			<label class="parking-text-label">Students</label>
			<div class="table-div">
				<table class="parking-table" id="parking-students">

				</table>
			</div>
		</div>

		<div id="guests-parking-div" class="parking-group-div">
			<label class="parking-text-label">Guests</label>
			<div class="table-div">
				<table class="parking-table" id="parking-guests">

				</table>
			</div>
		</div>
	</div>

	<div id="sideBar">

		<div id="parkSpaceInfoBox">
			<div id="infoBoxRole">
				
			</div>
			<div id="infoBoxNumber">

			</div>
			<div id="infoBoxTaken">
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='style/tables.js') }}"></script>
{% endblock %}