<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/park.css') }}" type="text/css" media="screen" />
    <title>Document</title>
    <script type="text/javascript">
        var spots = '{{ spots }}';
    </script>
</head>
<body>
    <div class="container">
		<div id="map">
            {% for  %}
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div id="free">
			<h1>free</h1>
		</div>

		<div id="free-worker">
			<h1>free-worker</h1>
		</div>

		<div id="free-guest">
			<h1>free-guest</h1>
		</div>
	</div>

    <!-- <div id="table-div">
        <table id="main-table">
            {% for spot in spots %}
            {% if spot.type == 'Staff' %}
		        <tr>{{spot.number}} {{spot.type}}</tr>
                {% endif %}
	    	{% endfor %}
        </table>
    </div> -->



    <script type="text/javascript" src="{{ url_for('static',filename='style/tables.js') }}"></script>

</body>
</html>