<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>ZBC Parking - Registrer</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../style/registration.css" type="text/css" media="screen" />
	<!-- Place favicon.ico in the root directory -->
</head>

<body>
	<div id="registrationGroup">
		<div id="title">
			<h1>Registrer</h1>
		</div>
		<div id="fname">
			<label for="fname">Fornavn</label><br>
			<input type="text" id="fname" name="fname"><br><br>
		</div>
		<div id="lname">
			<label for="lname">Efternavn</label><br>
  			<input type="text" id="lname" name="lname"><br><br>
		</div>
		<div id="email">
			<label for="email">E-mail</label><br>
  			<input type="text" id="lname" name="lname"><br><br>
		</div>
		<div id="role">
			<label for="role">Rolle</label><br>
			<select name="role" multiple>
				<option value="1">Gæst</option>
				<option value="2">Medarbejder</option>
				<option value="3">Elev</option>
			</select><br><br>
		</div>
		<div id="submit">
			 <button type="button">Tilføj bruger</button> 
		</div>
	</div>
</body>

</html>
