* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-background: #4c4e57;
    --hover-color: #85886f;
    --header-height: 80px;
    --infoBox-background: #35373d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* Logo styling */
#logo {
    width: auto;
    height: var(--header-height);
    margin-right: 30px;
    padding: 5px;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

/* Navigation menu  */
header {
    height: var(--header-height);
    background-color: var(--main-background);
    display: flex;
}

#navBar {
    height: var(--header-height);
    flex-grow: 1;
    padding: 5px;

    font-size: 24px;
    font-weight: 600;
}

#navBar a {
    text-decoration: none;
    color: #fff;
}

#navBar > ul {
    list-style-type: none;
}

#navBar > ul > li {
    float: left;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav-item a {
    height: 100%;
    padding: 20px;
}

.nav-item:hover {
    background-color: var(--hover-color);
}

.dropdown {
    position: relative;
}

.submenu {
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scaleY(0);
    transform-origin: top;
    font-size: 0;

    position: absolute;
    top: calc(var(--header-height) - 20px);
    left: 0;
    background-color: var(--main-background);
    list-style-type: none;
    transition: transform 0.15s;
    transition-timing-function: linear;
}

.dropdown:hover .submenu,
.submenu:hover {
    visibility: visible;
    transform: scaleY(1);
    font-size: unset;
}


/* Main content  */
#contentWrapper {
    width: 100%;
    height: 100%;
    background: url("../style/Images/background.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contentWrapper > div {
    height: 100%;
}

