body {
	background-color: #1d1d2c;
}

.container {
	margin: 1em;
	width: 30em;
	gap: 1em;
	display: grid;
	grid-template-areas:
		"staff students"
		"guests guests";
}

.container > div {
	margin: 2em;
	width: 20em;
	border-radius: 10px;
	padding: 1em;
	background-color: #373833;
}

.map {
	grid-area: map;
	width: 20em;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.map > div {
	height: 10em;
	transition: 0.3s;
	border-radius: 2px;
	background-color: lightgray;
}

.map > div:hover {
	background-color: #373833;
}

.map-header {
	color: #E8EAE3;
}

#staff {
	grid-area: staff;
}

#students {
	grid-area: students;
}

#guests {
	grid-area: guests;
}
