body {

}

#menu-panel {
    height: 100vh;
    display: flex;
    /*background: linear-gradient(0deg, rgb(120, 120, 120) 10%, rgb(70, 70, 70) 100%);*/
    background: #4c4e57;
}

#top-row {
    /* align-items: center;
    justify-content: center; */
}

#bottom-row {
    margin-left: 300px;
    margin-top: 50px;
}

#parking-div {
    margin-top: 80px;
    width: 80vw;
    background: url("../style/Images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 3px solid #9497a7;
    border-right: 3px solid #9497a7;
    
}

.parking-group-div {
    width: 280px;
    text-align: center;
    margin-left: 300px;
}

.parking-text-label {    
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}


.table-div {
    margin-top: 50px;
    margin-right: 100px;
    /* background-color: aquamarine; */
}

.parking-table {
    /* background-color: rgb(200, 200, 200); */
    table-layout: fixed;
    border-spacing: 0;
}

.parking-table td {
    /*height: 25px;*/
    /*width: 25px;*/
    width: 70px;
    height: 120px;

}


.table-div {
  width: 280px;  
}


.parking-table tr:nth-child(1) td {
    border-left: 3px solid #a8a8a6;
    border-bottom: 3px solid #a89010;
}

.parking-table tr:nth-child(2) td {
    border-left: 3px solid #a8a8a6;
}

.parking-table tr td:last-child {
    border-right: 3px solid #a8a8a6;
}

.parking-table td:hover {
    background-color: #85886f;
    border-radius: 3%;
}

.spot-free {
    background-color: #4c985a;
}

.spot-taken {
    background-color: #b45252;
}