#ParkingPageContainer {
    display: flex;
}


#parkingLot {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 3px solid #9497a7;
    border-right: 3px solid #9497a7;
}

.parking-group-div {
    width: 100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.parking-text-label {    
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}


.table-div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.parking-table {
    table-layout: fixed;
    border-spacing: 0;
}

.parking-table td {
    width: 70px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}


.table-div {
  width: 280px;  
}


.parking-table tr:nth-child(1) td {
    border-left: 3px solid #a8a8a6;
    border-bottom: 3px solid #a89010;
}

.parking-table tr:nth-child(2) td {
    border-left: 3px solid #a8a8a6;
}

.parking-table tr td:last-child {
    border-right: 3px solid #a8a8a6;
}

.parking-table td:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.parking-table td.active {
    background-color: var(--hover-color);
}

.spot-free {
    background-color: #4c985a;
}

.spot-taken {
    background-color: #b45252;
}

@media only screen and (min-width: 768px) {
    .parking-group-div {
        width: 40%;
    }
}

/* Side info box  */
#sideBar {
    width: 20%;
    background-color: var(--main-background);
}
#sideBar:not(.shown) * {
    display: none;
}

#parkSpaceInfoBox {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #35373d;
    /* height: 40%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

#parkSpaceInfoBox > div{
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
}

/* Role box */
#infoBoxRole,
#infoBoxNumber,
#infoBoxTaken {
    width: 100%;
}

#infoBoxNumber h2, 
#infoBoxTaken h2,
#infoBoxRole h2 {

}
#infoBoxRole div,
#infoBoxNumber div,
#infoBoxTaken div {
    color:#9497a7;
    font-size: 12px;
}


