p {
	color: white;
}

#pageContainer {
  display: flex;
}

#tableContainer {
  flex-grow: 1;
  border-top: 3px solid #9497a7;
  border-right: 3px solid #9497a7;
}

#sideBar {
  width: 40%;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.3s, width 0.3s;
}

#sideBar:not(.shown) {
  width: 0%;
  transform: scaleX(0);
}

.table-div{
  max-height: 600px;
  max-width: 70vw;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

#tableContainer .table-div {
    padding: 20px;
}


.table-div table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-div table td,
.table-div table th {
  padding: 8px;
}

.table-div table tr:nth-child(even){background-color: #f2f2f2;}
.table-div table tr:nth-child(odd){background-color: #b8b2b2;}

.table-div table tr:hover {
  background-color: var(--hover-color);
}

.table-div table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #68706d;
  color: white;
}

.actions {
    display: flex;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-table {
  margin-right: 5px;
}

.button-page {
  padding: 15px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 16px;
}


/* Side info box  */
#sideBar {
    width: 40%;
    transform: scaleX(1);
    background-color: var(--main-background);
    transition: transform 0.3s, width 0.3s;
    transition-timing-function: ease;
    transform-origin: right;
}
#sideBar:not(.shown) {
    transform: scaleX(0);
    width: 0%;
}

#sideContent {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--infoBox-background);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sideContent > div:not(.table-div){
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
}

#sideContent > div > div{
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.info {
    width: 100%;
    color:#9497a7;
    font-size: 12px;
}
.info h2{
    color:#fff;
    font-size: 24px;
}

#sideContent .table-div {
    max-height: 300px;
}
#sideContent .receiptTable {
    max-height: 100%;
}