#menu-panel {
    height: 100vh;
    display: flex;
    /*background: linear-gradient(0deg, rgb(120, 120, 120) 10%, rgb(70, 70, 70) 100%);*/
    background: #4c4e57;
}

.page-div {
    margin-top: 80px;
    width: 80vw;
    background: url("../style/Images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 3px solid #9497a7;
    border-right: 3px solid #9497a7;	
}

p {
	color: white;
}

input[type=text] {
    width: 200px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #c5c5c5;
  }