<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>zbc parking</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../style/main.css" type="text/css" media="screen" />
	<!-- Place favicon.ico in the root directory -->

</head>

<body>
	<div id="main-grid">
		<div id="map">
			map
		</div>

		<div id="free">
			free
		</div>

		<div id="free-worker">
			free-worker
		</div>

		<div id="free-guest">
			free-guest
		</div>
	</div>
</body>

</html>
